In [ ]:
print("Python is simple and clean")
print("hello world")

In [ ]:
#Everything is runtime in python. There is no compile time
#Everything is an object in python even keywords and functions!
# Note: Runtime is achieved using pointers/references 
# Here value is reference (special variable which can hold only addresses)
# Here 100 is an immutable object (constant object cannot be modified) of int class
# Note: Any operation performed on immutable object creates a new object at a new memory location
# type() will show type of object that reference points to
# id() will show address of object
# int/float/str/complex/bool/None are immutable objects!
value=100
print(value,type(value),id(value))
value=200
myvalue=value # one more reference can point to the same object
# shallow copy is when both references are pointing the same object
print(value,type(value),id(value))
value+=1 # value=value+1
print(value,type(value),id(value))
print(myvalue,type(myvalue),id(myvalue))
value=3.142 #In python there is only float class
print(value,type(value),id(value))
value=3.4+1
print(value,type(value),id(value))
value="vinsys" # There is no char # str object is immutable 
print(value,type(value),id(value))
value='H'; # There is no char # str object is immutable 
print(value,type(value),id(value))
value=(3+2j) # immutable object 
print(value,type(value),id(value))
value=None
print(value,type(value),id(value))
value=False
print(value,type(value),id(value))
print(type(type),type(id))

In [ ]:
# formatting in python is done in 3 different ways
emp_id=1000
emp_name="hrishikesh"
emp_sal=100000.12345

# cstyle formatting which 2x
# Here %d %s %f format specifiers and \n\t\r\b escape sequences
print("Employee Id %20d %20d\nEmployee Name %24s\nEmployee Salary %21.2f\n" %(emp_id,emp_id,emp_name,emp_sal))

# str.format() 
print("Employee Id {}\nEmployee Name {}\nEmployee Salary {}\n".format(emp_id,emp_name,emp_sal))
print("Employee Id {0} {0} {0}\nEmployee Name {1}\nEmployee Salary {2}\n".format(emp_id,emp_name,emp_sal))

# f-strings after 3.5 version
print(f"Employee Id {emp_id}\nEmployee Name {emp_name}\nEmployee Salary {emp_sal}\n")

In [ ]:
# Note: input() will create a str object always!
age=input("Enter your age")
name=input("Enter your name")
print(f"Your name is {name} and age is {age}")
print(f"Your name is {type(name)} and age is {type(age)}")

In [ ]:
first_age=input("Enter first age")
second_age=input("Enter second age")
print(f"Addition of {first_age} and {second_age} is {first_age+second_age}")

In [ ]:
# conversions
first_age=int(input("Enter first age"))
second_age=input("Enter second age")
second_age=int(second_age)
print(f"Addition of {first_age} and {second_age} is {first_age+second_age}")

In [ ]:
value=10
print(value,type(value))
value="10"
print(value,type(value))
value=int(value) # str can be converted to int
print(value,type(value))
value=3.12
print(value,type(value))
value=int(value) #float can be converted to int
print(value,type(value))
value="3.12"
print(value,type(value))
value=float(value) # str can be converted to float
print(value,type(value))
value="192.168.10.2"
# value=float(value) # every str cannot be converted to float
#print(value,type(value)) # ValueError: could not convert string to float: '192.168.10.2'
value=10
print(value,type(value))
value=str(value) # every int can be converted to str
print(value,type(value))
#value="hrishikesh" # every str cannot be converted to int
#value=int(value)

In [ ]:
value=65
print(chr(value)) # chr is conversion for int to char
value=90
print(chr(value))
value=97
print(chr(value))
value=122
print(chr(value))
value=15
print(oct(value)) # int to oct
print(hex(value)) # int to hex

In [ ]:
# conversion functions to convert one type of object into another
# int() float() str() complex() None() bool() list() tuple() set() dict() oct() hex() chr() eval()
first_age=float(input("Enter first age"))
second_age=float(input("Enter second age"))
print(f"Addition of {first_age} and {second_age} is {first_age+second_age}")

In [ ]:
myage=int("22")
print(myage)

In [ ]:
value_1=complex(input("Enter first age"))
value_2=complex(input("Enter second age"))
print(f"Addition of {value_1} and {value_2} is {value_1+value_2}")

In [ ]:
value_1=eval(input("Enter first age"))
value_2=eval(input("Enter second age"))
print(f"Addition of {value_1} and {value_2} is {value_1+value_2}")

In [ ]:
value_1=eval(input("Enter first age"))
value_2=eval(input("Enter second age"))
print(f"Addition of {value_1} and {value_2} is {str(value_1)+str(value_2)}")

In [ ]:
print("sachin"+5)
print("sachin"*5)
print("sachin".__mul__(5)) # dunder method / magic method / implicit method

In [ ]:
# operator in python
print(1/2) # Here int/int is float
print(10/3)  # truediv() # result is float
print(10//3) # floordiv() # quotient
print(10%3) # mod() gives remainder
print(2**16) # ** gives power

In [ ]:
# WAP to print employee salary slip
# basic_salary is input() from user 
# use proper conversions int() float() eval() 
# gross_salary = basic_salary+HRA+DA+PF+PT
# net_sal=gross_sal-PF-PT
# HRA=40%BS and DA=20%BS PF=5000 PT=1000
# c-style / str.format() / f-strings 
# use PEP 8 / PEP 257

In [ ]:
# str containers are immutable
print("you cannot print\n\"double quotes\"\nwithin double quotes")
print('you cannot print\n\'single quotes\'\nwithin single quotes')
print('you cannot print\n"double quotes"\nwithin single quotes')
print("you cannot print\n\'single quotes\'\nwithin double quotes")
print("""can print
any number of "double quotes"
and 'single quotes'
no need to use any escape sequences
""")
print('''can print
any number of "double quotes"
and 'single quotes'
no need to use any escape sequences
''')

In [ ]:
# index slicing operator [start:next_to_last:step_count]
# index slicing operator is used to create a subset of database
guideline1="How to write beautiful code in python using PEP 8"
print(guideline1) #How to write beautiful code in python using PEP 8
print(guideline1[:]) #How to write beautiful code in python using PEP 8
print(guideline1[::]) #How to write beautiful code in python using PEP 8
print(guideline1[0]) # H
print(guideline1[0:3]) # Here 3 is not included! # How
print(guideline1[:3])
print(guideline1[:3:1])
print(guideline1[-1]) # 8
print(guideline1[-5]) # P
print(guideline1[-5:])# PEP 8
print(guideline1[-18:]) #python using PEP 8
print(guideline1[-18:-11]) #python 
print(guideline1[-18:-22]) # no output
print(guideline1[::2])  # Hwt rt euiu oei yhnuigPP8
print(guideline1[::1]) 
print(guideline1[::-1]) # 8 PEP gnisu nohtyp ni edoc lufituaeb etirw ot woH
print(guideline1[-18:-27:-1])

In [ ]:
network_id="192.168"
host_id="10.1"
ip_addr=network_id+"."+host_id # traditional way of concatinating str
print(ip_addr)
ip_addr=f"{network_id}.{host_id}" # use f-strings pythonic way to concatenate str
print(ip_addr)

In [ ]:
# Note: use dir() function to list all methods of the class
print(dir(str))
# len() gives total number of methods of the class
print(f"str class has {len(dir(str))} methods")  
# Note: __method__() are implicit / dunder / magic and other are explicit methods!

In [ ]:
print(help(str.isalnum))

In [1]:
company="vinsys"
print(company.isalnum())
print(company.isalpha())
print(company.isascii())
print(company.isdigit())
print(company.isdecimal())
print(company.islower())
print(company.isupper())
print(company.isnumeric())
print(company.isprintable())
print(company.startswith("v"))
print(company.endswith("s"))

True
True
True
False
False
True
False
False
True
True
True

In [ ]:
print(help(str.upper))

In [ ]:
company="vinsys it services"
print(company.upper())
print(company.capitalize())
print(company.title())
print(company.lower())
print(company.swapcase())
print(company.casefold())
print(company.center(100))
print(company.rjust(100))
print(company.ljust(100))

In [ ]:
company="                vinsys is company vinsys              "
print(company.strip())
company=company.strip()
print(company.strip("vinsys"))
print(company)
print(company.lstrip("vinsys"))
print(company.rstrip("vinsys"))

In [ ]:
myvalue="ipython3.9"
print("version is",float(myvalue.strip("ipython")))
print("language is",myvalue.strip("i").strip("3.9"))

In [ ]:
price="Rs 10,950.85 /-"
price=price.strip("Rs").strip("/-")
print(price,type(price))
price=price.replace(",","")
print(float(price))

In [ ]:
email="hrishikesh@gmail.com"
# split() returns list of elements
parse_email=email.split("@")
print(f"user name is {parse_email[0]}")
print(f"Domain is {parse_email[1]}")

In [ ]:
date="10-May-2025"
parse_date=date.split("-")
print(f"Day is {parse_date[0]}\nMonth is {parse_date[1]}\nYear is {parse_date[2]}")

In [1]:
company=["v","i","n","s","y","s"]
print(type(company))
print("".join(company)) # Here elements of list will be joined
print(",".join(company)) # Here elements of list will be joined
print("\t".join(company))
print("->".join(company))

<class 'list'>
vinsys
v,i,n,s,y,s
v	i	n	s	y	s
v->i->n->s->y->s

In [13]:
fact="python is very easy and python is clean"
print(fact.find("python"))
print(fact.find("python",1))
print(fact.find("vinsys"))
print(fact.index("python"))
print(fact.index("python",1))
# try:
#     print(fact.index("vinsys"))
# except:
#     print("substring not present")
print(fact.count("python"))
print(len(fact))

0
24
-1
0
24
2
39

In [ ]:
"""
Program to print salary slip of Employees
"""
basic_sal=float(input("Enter basic salary"))
house_rent_allowance=0.2*basic_sal
dear_allowance=-.4*basic_sal
PF=5000
PT=2000
gross_salary=basic_sal+house_rent_allowance+dear_allowance+PF+PT
net_sal=gross_salary-PT-PF
print("Gross_salary %f\nNet Salary %f"%(gross_salary,net_sal)) # cstyle
print("Gross_salary {0}\nNet Salary {1}".format(gross_salary,net_sal)) # str.format()
print(f"Gross_salary {gross_salary}\nNet Salary {net_sal}") # f-strings

In [11]:
company="vinsys"
# del company[0] #  'str' object doesn't support item deletion
# company[0]="V" # 'str' object does not support item assignment

TypeError: 'str' object does not support item assignment