In [ ]:
# control statements
# 1. sequential
# 2. conditional
     #(a) branching (selection) if: else: elif: 
     #(b) looping (iteration) while: for:
# 3. unconditional break: continue: # range() enumerate()

In [43]:
# relational operator > < >= <= == !=
var1,var2=100,200
"""
if var1 > var2:
    print(f"{var1} is greater")
else:
    print(f"{var2} is greater")
"""
print(f"Max is {max(var1,var2)}")

Max is 200

In [49]:
# logical operators and or not 
var1,var2,var3=100,200,300
if var1 > var2 and var1 > var3: 
    print(f"{var1} is greater")  
elif var2 > var1 and var2 > var3:
    print(f"{var2} is greater") 
else:
    print(f"{var3} is greater") 
print(f"Max is {max(var1,var2,var3)}")

300 is greater
Max is 300

In [58]:
var1,var2,var3=100,200,300
if var1 > var2: # doctor
    if var1 > var3: # md
        print(f"{var1} is greater")  
    else: # dental / pharma
        print(f"{var3} is greater")  
else:
    if var2 > var3: # mechanical
        print(f"{var2} is greater")  
    else: # electronics
        print(f"{var3} is greater")

IndentationError: expected an indented block after 'if' statement on line 3 (2772900648.py, line 4)

In [92]:
if 20>10 and 500 > 300 and 50==50 and 0 < 99: # traditional and and or
    print("and requires all conditions to be true")
if all((20>10,500 > 300,50==50,0 < 99)): # pythonic way use any and all functions
    print("any requires all conditions to be true")
if 0>10 or 50 > 300 or 50==50 or 0 > 99: # traditional and and or
    print("or requires one condition to be true")

and requires all conditions to be true
any requires all conditions to be true
or requires one condition to be true

In [112]:
if all((10,3.12,True,(2+4j),[10],{100},{"Sachin":10})):
    print("all requires all to be True")
if any([0>10,50 > 300,50==50,0 > 99]):
    print("any requires one condition to be True")
if any([0,0.0,False,None,"",[],(),set(),{}]):
    print("any requires one condition to be True")

all requires all to be True
any requires one condition to be True
any requires one condition to be True

In [128]:
print("Hello") and print("world") or print("vinsys")

Hello
vinsys

In [ ]:
# wap to sides as input and
# type of validate triangle equilateral / isoceles / scalene
# electicity bill print 
# No of units consumed 0-100 Rs 3/- ,101-150 Rs 5/- ,higher 151 Rs 10/-  units 300