In [ ]:
# control statements
# 1. sequential
# 2. conditional
     #(a) branching (selection) if: else: elif: 
     #(b) looping (iteration) while: for:
# 3. unconditional break: continue: # range() enumerate()

In [ ]:
# relational operator > < >= <= == !=
var1,var2=100,200
"""
if var1 > var2:
    print(f"{var1} is greater")
else:
    print(f"{var2} is greater")
"""
print(f"Max is {max(var1,var2)}")

In [ ]:
# logical operators and or not 
var1,var2,var3=100,200,300
if var1 > var2 and var1 > var3: 
    print(f"{var1} is greater")  
elif var2 > var1 and var2 > var3:
    print(f"{var2} is greater") 
else:
    print(f"{var3} is greater") 
print(f"Max is {max(var1,var2,var3)}")

In [ ]:
var1,var2,var3=100,200,300
if var1 > var2: # doctor
    if var1 > var3: # md
        print(f"{var1} is greater")  
    else: # dental / pharma
        print(f"{var3} is greater")  
else:
    if var2 > var3: # mechanical
        print(f"{var2} is greater")  
    else: # electronics
        print(f"{var3} is greater")

In [ ]:
if 20>10 and 500 > 300 and 50==50 and 0 < 99: # traditional and and or
    print("and requires all conditions to be true")
if all((20>10,500 > 300,50==50,0 < 99)): # pythonic way use any and all functions
    print("any requires all conditions to be true")
if 0>10 or 50 > 300 or 50==50 or 0 > 99: # traditional and and or
    print("or requires one condition to be true")

In [ ]:
if all((10,3.12,True,(2+4j),[10],{100},{"Sachin":10})):
    print("all requires all to be True")
if any([0>10,50 > 300,50==50,0 > 99]):
    print("any requires one condition to be True")
if any([0,0.0,False,None,"",[],(),set(),{}]):
    print("any requires one condition to be True")

In [ ]:
print("Hello") and print("world") or print("vinsys")

In [ ]:
# wap to sides as input and
# type of validate triangle equilateral / isoceles / scalene
# electicity bill print 
# No of units consumed 0-100 Rs 3/- ,101-150 Rs 5/- ,higher 151 Rs 10/-  units 300

In [ ]:
# membership / identity operators

In [ ]:
# membership in / not in (search) 
# Note: search value1 in iterable or comparsion value1==value2
admin_users=["root","admin","adminstrator"]
user_name=input("Enter your current user")
if user_name.lower() in admin_users:
    print(f"you have full privileges")
else:
    print("you have guest privileges")

In [ ]:
python_versions=[3.5,3.6,3.7,3.8,3.9]
current_version=float(input("Enter your version"))
if current_version not in python_versions:
    print(f"you can use only str.format()")
else:
    print(f"you can use f-strings")

In [ ]:
# identity operator is / is not 
# identity operator will check the data type of the object not the value!
emp_ids=[1000,2000]
if type(emp_ids) is list:
    print("You are using list")
else:
    print("You are not using list for sure")

In [ ]:
fact=1
num=int(input("Enter your number"))
while num>0:
    fact*=num
    num-=1
print(f"factorial is {fact}")

In [ ]:
rev=0
total=0
num=int(input("Enter your number"))
while num > 0:
    total+=num%10
    rev=rev*10+num%10  
    num=num//10 
print(f"Reversed number is {rev}")
print(f"sum of the digits is {total}")

In [ ]:
i=2
num=int(input("Enter your number"))
while i < num:
    if num%i==0:
        print(f"{num} is not prime")
        break
    i+=1
if num==i:
    print(f"{num} is prime")

In [ ]:
# Generate all armstrong number 1 - 1000
# 153 == 1*1*1+5*5*5+3*3*3
# print all prime numbers between 1 to 100
# print first 25 prime numbers

In [ ]:
import sympy
print(len(dir(sympy)))
#print(dir(sympy))
print(sympy.isprime(5))

In [ ]:
import sympy
num=int(input("Enter your number"))
if sympy.isprime(num):
    print(f"{num} is prime")
else:
    print(f"{num} is not prime")

In [ ]:
import sympy
print(dir(sympy))

In [1]:
count=0
num=2
while count < 10:
    i=2
    while i < num:
        if num%i==0:
            break
        i+=1
    if num==i:
        print(f"{num}",end=" ")
        count+=1
    num+=1

2 3 5 7 11 13 17 19 23 29

In [59]:
list1=[10,20,30,40,50]
for value in list1:
    print(value,end=" ")
print(" ")
tuple1=(10,20,30,40,50)
for value in tuple1:
    print(value,end=" ")
print(" ")
set1={10,20,30,40,50}
for value in set1:
    print(value,end=" ")
print(" ")
states={"maharashtra":"mumbai","karnataka":"bengaluru","tamilnadu":"chennai"}
for each_state in states: 
    print(each_state,end=" ")
print(" ")
for each_state in states: 
    print(states[each_state],end=" ")
print(" ")
for each_state in states.keys():
    print(each_state,end=" ")
print(" ")
for capitals in states.values(): 
    print(capitals,end=" ")
print(" ")
for each_record in states.items(): # in is unpacking list
    print(f"{each_record[1]} capital is in {each_record[0]}") # [] will unpack tuple 
print(" ")
# Note: states.items() returns list of tuples
# Note: in will unpack list and multiple variable assingment will unpack tuple!
for state,capital in states.items():
    print(f"{capital} is in {state}")
print(" ")

10 20 30 40 50
10 20 30 40 50
50 20 40 10 30
maharashtra karnataka tamilnadu
mumbai bengaluru chennai
maharashtra karnataka tamilnadu
mumbai bengaluru chennai
mumbai capital is in maharashtra
bengaluru capital is in karnataka
chennai capital is in tamilnadu

mumbai is in maharashtra
bengaluru is in karnataka
chennai is in tamilnadu

In [47]:
tuple1=(10,20,30)
print(tuple1)
print(tuple1[0],tuple1[1],tuple1[2])
var1,var2,var3=tuple1
print(var1,var2,var3)

(10, 20, 30)
10 20 30
10 20 30

In [ ]:
# what is for loop used for? 
# for can unpack iterables as well as generators!

In [63]:
# range() is a builtin generator in python!
print(range(5)) # starts with 0 by default
print(range(1,6)) # Here 6 is not included

range(0, 5)
range(1, 6)

In [ ]:
# generators are alteratives for collections/iterables
# unlike iterables generators do not store values 
# unlike iterables generators will only perform computation when there is a call
# unlike normal functions. A generator will always remember its state!
# How to extract values from generator?
# There are 3 ways to extract values from generator
# 1. conversion function : To check the values from generator i.e. to test 
    # Note: using conversion function destroys the purpose of generator
# 2. use for loop to extract all values from generator
# 3. use next() iterator on generator to extract one value at a time

In [113]:
list1=[10,20,30,40,50]
index=0
for num in list1:
    print(index,num)
    index+=1

0 10
1 20
2 30
3 40
4 50

In [67]:
for num in range(5): # 0 1 2 3 4
    print(num,end=" ")

0 1 2 3 4

In [83]:
# use conversion function on generators to check values
# range(start,next_to_last,step_count)
print(list(range(1,6)))
print(list(range(2,11,2)))
print(tuple(range(5)))
print(set(range(5)))

[1, 2, 3, 4, 5]
[2, 4, 6, 8, 10]
(0, 1, 2, 3, 4)
{0, 1, 2, 3, 4}

In [87]:
for even_nums in range(2,51,2):
    print(even_nums,end=" ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50

In [105]:
# use iter() on generator to use next() iterator!
num=iter(range(2,11,2))
print(next(num))
print(next(num))
print(next(num))
print(next(num))
print(next(num))
#print(next(num)) # StopIteration # generator is exhausted or already consumed!

2
4
6
8
10

In [109]:
evens=[]
for num in range(1,11):
    if num%2==0:
        evens.append(num)
print(evens)

[2, 4, 6, 8, 10]

In [135]:
list1=[10,20,30,40,50]
# enumerate is a builtin generator 
print(enumerate(list1))
print(list(enumerate(list1)))
print(tuple(enumerate(list1)))
print(set(enumerate(list1)))
#for value in enumerate(list1):
    #print(value[0],value[1])
for index,value in enumerate(list1):
    print(index,value)
#ref=iter(enumerate(list1))
#print(next(ref))
#print(next(ref))
#print(next(ref))

<enumerate object at 0x000001C9BE3158F0>
[(0, 10), (1, 20), (2, 30), (3, 40), (4, 50)]
((0, 10), (1, 20), (2, 30), (3, 40), (4, 50))
{(3, 40), (0, 10), (1, 20), (4, 50), (2, 30)}
0 10
1 20
2 30
3 40
4 50

In [137]:
list1=[10,20,30,40,50]
for index,value in enumerate(list1):
    print(index,value)

0 10
1 20
2 30
3 40
4 50

In [139]:
list1=[10,20,30,40,50]
index=0
for num in list1:
    print(index,num)
    index+=1

0 10
1 20
2 30
3 40
4 50

In [ ]:
# comprehension offer a simplified syntax (pythonic way) to create a new iterable/collection based on existing collections
# list comprehension
# set comprehension
# dict comprehension
# Note: There is no tuple comprehension as it becomes a generator!!!